services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: lara-ticket
    ports:
      - "8000:80"
    env_file:
      - .env
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
